@font-face {
    font-family: 'pixeled';
    src: url("Pixeled.ttf")
  }

#stop:active, #play:active, #pause:active, #speed-up:active, #speed-down:active{
    background-color: rgb(87, 86, 86);
}
.controller:active{
    width:53px;
}
h1 {
    font-family: 'pixeled';
    color: #4c5c67
}
#instruction-bar{
    width:400px;
    height:17px;
    background-color:#efd9c1;
    margin:auto;
    position:relative;
}
#instruction-list{
    width:400px;
    height:220px;
    background-color:#ebcdae;
    margin:auto;
    position:relative;
}
#inst-arrow {
    width:12px;
    height:12px;
    position:absolute;
    left: 380px;
    top:3px;
}


p {
    color:#546570;
    font-family:'verdana';
    font-size: 13px;
}

li{
    color:#52483e;
    font-family:'verdana';
    font-size: 11px;
    text-align: justify;
}

ol{
    padding: 8px 17px 0px 25px;
    margin: auto;
    
}
#customizer-container{
    width:400px;
    height:40px;
    background-color:#dbdad6;
    margin:auto;
    position:relative
}

#speed-down{
    width:27;
    height:27px;
    position: absolute;
    left: 75px;
    top:6px
}

#pause{
    width:30;
    height:30px;
    position:absolute;
    left:125px;
    top:5px;
}

#play{
    width:30;
    height:30px;
    top:5px;
    position:absolute;
    left:185px;
}

#stop{
    width:30;
    height:30px;
    top:5px;
    position:absolute;
    right:125px;
}

#speed-up{
    width:27;
    height:27px;
    position: absolute; 
    right:75px; 
    top:6px; 
    transform:rotate(180deg);
}

#controller-container{
    width:400px; 
    height:170px;
    background-color:#CCCBC6; 
    margin:auto; 
    position:relative
}

#leftkey{
    position:absolute;
    top:60px;
    left:125px
}

#upkey{
    transform:rotate(90deg);
    position: absolute; 
    top:10px; 
    right:175px
}

#downkey{
    transform:rotate(270deg);
    position: absolute; 
    bottom:10px; 
    right:175px

}

#rightkey{
    transform:rotate(180deg);
    position: absolute; 
    top:60px; 
    right:125px
}

#center{
    position: absolute; 
    top:60px; 
    right:175px
}
